.reports {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1F618D;
}

.reportsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    color: white;
}

.reportCard {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    width: 90%;
    height: 45%;
    padding: 2%;
    overflow: auto;
}

.infoPessoas {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 42%;
    gap: 10px;
    background-color: #fff;
    padding: 2%;
}

.infoPessoas span {
    color: black;
    font-family: serif;
}

.infoPessoas input {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 2rem;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #000;
}

.valorTotal input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 2rem;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.valorTotal span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 2rem;
    border: none;
    outline: none;
    background: transparent;
    border: 0.5px solid rgb(255, 255, 255);
}

.valorTotal {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    width: 90%;
    color: yellow;
}

.resultsReports {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    font-size: 100%;
    overflow: auto;
    color: #fff;
}

.result {
    color: #D35400;
}


.ferramentas {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 1rem;

    height: 3rem;
    width: 95%;
    gap: 5px;
    padding: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ferramentas div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    font-size: 100%;
    padding: 1%;
}

.ferramentas div:nth-child(1) {
    background-color: green;
}

.ferramentas div:nth-child(2) {
    background-color: rgb(128, 41, 0);
}

.ferramentas div:nth-child(3) {
    background-color: gray;
}
.select 
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    font-size: 100%;
}
.select span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    padding: 3px;
    color: white;
    cursor: pointer;
}
.valor {
    display: none;
}
.valor .infoPessoas{
    border: 5px solid #D35400;
    background-color: rgb(214, 214, 214);
    width: 40%;
}
.porcento {
    color: green;
}
.porcento .infoPessoas{
    border: 5px solid green;
    color: green !important;
    background-color: rgb(214, 214, 214);
    width: 40%;
}